@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
    <link href="~/css/Layout/Layout.css" rel="stylesheet" />
    <link href="~/css/Listas/Listas.css" rel="stylesheet" />
</head>
<body>
    <div class="row filaEncabezado">
        <div class="col-11">
            Tus Listas
        </div>
        <div class="col-1 FilaIconos">
            <i class="bi bi-gear"></i>
        </div>
    </div>
    <p class="pListas">No creaste ni sigues ninguna Lista. Cuando lo hagas, aparecerán aquí.</p>
    <script src="~/js/jquery-3.7.1.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>