@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
    <link href="~/css/Layout/Layout.css" rel="stylesheet" />
    <link href="~/css/Explorar/Explorar.css" rel="stylesheet" />
</head>
<body>
    <div class="row">
        <div class="col-11"></div>
        <div class="col-1"></div>
    </div>
    <img class="img-fluid" src="~/images/GP0O1MEWAAAlnkx.jpg" />
    <div id="ContenedorTendencias" class="ContenedorTendencias"></div>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="~/js/Explorar/Explorar.js"></script>
</body>
</html>