
.filaEncabezado {
    font-size: 21px;
    color: rgba(231,233,234,1.00);
    font-weight: 600;
    padding: 5px;
}

.filaBtnsEncabezado {
    border-bottom: 1px solid grey;
}

.FilaIconos {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.btnHeader {
    color: #706b6b;
    outline: none;
}

    .btnHeader:hover {
        color: white;
        background-color: #212020;
        text-decoration: underline 5px rgb(29, 155, 240);
    }

    .btnHeader:focus, .btnHeader:active, .btnHeader::selection {
        color: white;
        text-decoration: underline 5px rgb(29, 155, 240);
    }

.colHeader {
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 0;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #4d4b4b;
}
